@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.markdown {
  all: revert;
}

.markdown h1 {
  font-size: 2.25rem;
  font-weight: bold;
  padding: none;
}

.markdown h2 {
  font-size: 1.5rem;
  font-size: 1.25rem;

  margin-top: 0.4em;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.25rem;
  margin-top: 0.3em;
  font-weight: bold;
}

.markdown code {
  background-color: #eee;
  padding: 0.1em 0.2em;
  margin: 0 0.1em;
  border-radius: 2pt;
  color: #eb5757;
}

.markdown blockquote {
  border-left: 4px solid #ccc;
  margin: 1em 0;
  padding-left: 1em;
}

.markdown p {
}

#index-main {
  min-height: 100vh;
}

#index-tab {
  background-color: #aaddff;
  color: #008;
}
#index-tab hr {
  border-color: #008;
}

#index-window {
  background-color: #def;
  width: 100%;
  padding: 1em;
}

button {
  background-color: #24f;
  color: #fff;
  border-radius: 2pt;
  padding: 0.1em 1em;
  font-size: 0.8em;
}

input {
  border-radius: 2pt;
  font-size: 0.8em;
  padding: 0.1em;
}

@media screen and (min-width: 767px) {
  #index-main {
    display: flex;
  }

  #index-tab {
    width: 15vw;
  }
}
